
  <div class="container container-dashboard">
    <div class="row">

      <div class="col-xs-12 col-md-9">
        <div class="dashboard-tabs">
          <div class="dashboard-tab active" id="mycats">
            <h2>My Cats</h2>
          </div>
          <div class="dashboard-tab" id="mybookings">
            <h2>My Bookings</h2>
          </div>
        </div>
        <div class="dashboard-tab-content" id="mycats-content">
        <% current_user.cats.each do |cat|%>

              <div class="cat-informations">

                  <div class="col-xs-12 col-md-3">
                    <%= link_to cat_path(cat), class: "text-center" do %>
                        <% if cat.photo? %>
                          <%= cl_image_tag cat.photo.path, width: 150, height: 100, crop: :fill, class: "cat-image" %>
                        <% end %>
                    <% end %>
                  </div>

                  <div class="col-xs-12 col-md-9">
                    <div class="dashboard-bookings">
                      <div class="row">
                        <% %>


                            <ul class="dashboard-booking-list list-inline">
                              <li><i class="fa fa-calendar"></i></li>
                              <li>from: 25/03/2017</li>
                              <li>to: 29/03/2017</li>
                              <li><i class="fa fa-euro"></i></li>
                              <li>total: 167€</li>
                              <li><i class="fa fa-eye"></i></li>
                              <li>see details</li>
                              <li>view profile</li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-times"></i></li>
                            </ul>

                            <ul class="dashboard-booking-list list-inline">
                              <li><i class="fa fa-calendar"></i></li>
                              <li>from: 25/03/2017</li>
                              <li>to: 29/03/2017</li>
                              <li><i class="fa fa-euro"></i></li>
                              <li>total: 167€</li>
                              <li><i class="fa fa-eye"></i></li>
                              <li>see details</li>
                              <li>view profile</li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-times"></i></li>
                            </ul>


                            <ul class="dashboard-booking-list list-inline">
                              <li><i class="fa fa-calendar"></i></li>
                              <li>from: 25/03/2017</li>
                              <li>to: 29/03/2017</li>
                              <li><i class="fa fa-euro"></i></li>
                              <li>total: 167€</li>
                              <li><i class="fa fa-eye"></i></li>
                              <li>see details</li>
                              <li>view profile</li>
                              <li><i class="fa fa-check"></i></li>
                              <li><i class="fa fa-times"></i></li>
                            </ul>


                      </div>
                    </div>
                  </div>

              </div>

        <% end %>
        </div>
        <div class="dashboard-tab-content hidden" id="mybookings-content">
        <% current_user.bookings.each do |booking| %>
          <div class="mybooking">
            <div class="col-xs-12 col-md-3">
                    <%= link_to cat_path(cat), class: "text-center" do %>
                        <% if cat.photo? %>
                          <%= cl_image_tag cat.photo.path, width: 150, height: 100, crop: :fill, class: "cat-image" %>
                        <% end %>
                    <% end %>
                  </div>
          </div>
        <% end %>
        <p>djhkdfjhbqkjbdf</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="right-card text-center">
          <div class="right-card-elem"->
            <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, :transformation=>[
            {:width=>900, :height=>900, :gravity=>"face", :radius=>"max", :crop=>"crop"},
            {:width=>150, :crop=>"scale"}
            ] %>
          <% end %>
          </div>
          <div class="right-card-elem">
            <%= current_user.name %>
          <div class="right-card-elem"->
            <%= link_to  user_path(current_user), class: "text-center" do %>
              View my profile
            <% end %>
          </div>
          <div class="right-card-elem"->
            <%= link_to new_cat_path class: "text-center" do %>
              Create a new cat
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>


