
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2>My Cats</h2>
      </div>
      <%= link_to new_cat_path class: "text-center" do %>
        <p>Create a new cat</p>
      <% end %>
      <% current_user.cats.each do |cat|%>
        <%= link_to cat_path(cat) do %>
        <div class="col-xs-12">
          <div class="cat-informations">
            <div class="row">
              <div class="col-xs-12 col-md-3">
                <%= cl_image_tag cat.photo.path, width: 250, height: 200, crop: :fill, class: "cat-image" %>
              </div>
              <div class="col-xs-12 col-md-3">
                <div class="text-center cat-name-and-desc">
                  <div>
                    <h3><%= cat.name%></h3>
                    <p><%= cat.description%></p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-lg-3">
                <div class="details">
                  <ul class: "information-list">
                    <li><p>Race : <%= cat.race.capitalize %></p></li>
                    <li><p>Age : <%= cat.age %></p></li>
                    <li><p>Address : <%= cat.address %></p></li>
                    <li><p>Price : <%= cat.price_per_day %></p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>


