
  <div class="container container-dashboard">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div class="dashboard-tabs">
          <div class="dashboard-tab active" id="mycats">
            <h2>My Cats</h2>
          </div>
          <div class="dashboard-tab" id="mybookings">
            <h2>My Bookings</h2>
          </div>
        </div>

        <div class="dashboard-tab-content" id="mycats-content">
          <% current_user.cats.each do |cat|%>
            <div class="dashboard-all-cat-informations">

              <div class="dashboard-cat-informations" id="<%= cat.id %>">
                <div class="dashboard-cat-photo">
                  <% if cat.photo? %>
                    <%= cl_image_tag cat.photo.path, transformation: [{width: 60, height: 60, gravity: 'face', radius: 'max', crop: 'fill'}], class: "cat-image" %>
                    <% else %>
                    <%= image_tag "cat-icon.png", width: 60, height: 60, crop: :fill, class: "cat-image" %>
                  <% end %>
                  <h1><%= cat.name %></h1>
                </div>
                <div class="dashboard-cat-rating">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i>
                  <small>82</small>
                </div>
                  <% x = 0 %>
                  <% y = 0 %>
                  <% z = 0 %>
                  <% cat.bookings.each do |booking| %>
                    <% if booking.accepted == nil %>
                      <% x += 1 %>
                    <% elsif booking.accepted == true %>
                      <% y += 1 %>
                    <% else %>
                      <% z += 1 %>
                    <% end %>
                  <% end %>
                <div class="pending-bookings">
                  <p><%= x %> pending...</p>
                </div>
                <div class="pending-bookings">
                  <p><%= x + y + z %> booking(s)</p>
                </div>
              </div>
              <div class="row">
                <div class="dashboard-drop-down hidden" id="hidden-<%=cat.id%>">
                  <div class="col-xs-12 col-md-3">
                    <div class="dashboard-drop-down-left">
                      <div class="row">
                      <%= link_to cat_path(cat) do %>
                        <% if cat.photo? %>
                          <%= cl_image_tag cat.photo.path, width: 100, height: 100, crop: :fill, class: "cat-image cat-image-lien" %>
                        <% else %>
                          <%= image_tag "cat-icon.png", width: 100, height: 100, crop: :fill, class: "cat-image cat-image-lien" %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-9">
                    <% cat.bookings.each do |booking| %>
                      <ul class="dashboard-booking-list list-inline">
                        <li>
                        <%= link_to user_path(booking.user) do %>
                          <% if booking.user.photo? %>
                          <%= cl_image_tag booking.user.photo.path, width: 50, height: 50, crop: :fill, class: "cat-image" %></li>
                          <% end %>
                        <% end %>
                          <li><p class="text-center"><%=booking.user.name%></p></li>
                          <li><p><div class="dashboard-cat-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half" aria-hidden="true"></i>
                            <small>82</small>
                          </div></p></li>
                        <li><p>from : <%= booking.start_at %></p>
                            <p>to : <%= booking.ends_at %></p>
                        </li>
                        <li><%= booking.price_per_day %><i class="fa fa-euro"></i></li>
                        <li>
                          <% if booking.start_at > Date.today %>
                            <% if booking.accepted == nil %>
                            <ul class="items-center">
                              <li class="accept-or-decline-list"> <%= link_to accept_booking_path(booking), method: :patch do  %>
                              <%= image_tag "002-check.png", width: 20, height: 20, crop: :fill, class: "accept-or-decline" %>
                            <% end %></li>
                              <li class="accept-or-decline-list"><%= link_to decline_booking_path(booking), method: :patch do  %>
                              <%= image_tag "001-cancel.png", width: 20, height: 20, crop: :fill, class: "accept-or-decline" %>
                            <% end %></li>
                            </ul>
                            <% elsif booking.accepted == true %>
                              <div class="accepted-button-dash fixe-button-widht text-center"><p>Accepted</p></div>
                            <% elsif booking.accepted == false %>
                              <div class="declined-button-dash fixe-button-widht text-center"><p>Declined</p></div>
                            <% end %>
                          <% elsif booking.ends_at < Date.today %>
                            <%= link_to user_path(booking.user) do %>
                              <button class="btn btn-primary fixe-button-widht">Add review</button>
                            <% end %>
                          <% end %>
                        </li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="dashboard-tab-content hidden" id="mybookings-content">
          <% current_user.bookings.each do |booking|%>
            <div class="dashboard-booking-informations">
                <div class="dashboard-cat-photo fixe-button-widht">
                  <%= link_to cat_path(booking.cat) do %>
                    <% if booking.cat.photo? %>
                      <%= cl_image_tag booking.cat.photo.path, transformation: [{width: 60, height: 60, gravity: 'face', radius: 'max', crop: 'fill'}], class: "cat-image" %>
                      <% else %>
                      <%= image_tag "cat-icon.png", width: 60, height: 60, crop: :fill, class: "cat-image" %>
                    <% end %>
                  <% end %>
                  <h1 class="fixe-button-widht"><%= booking.cat.name %></h1>
                </div>
                <div class="dashboard-cat-rating fixe-button-widht">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half" aria-hidden="true"></i>
                  <small>82</small>
                </div>
                <div class="dashboard-cat-date">
                  <ul>
                    <li>from: <%= booking.start_at %></li>
                    <li>to: <%= booking.ends_at %></li>
                  </ul>
                </div>
                <div class="dashboard-bookings-price fixe-button-widht text-center">
                  <p><%= booking.price_per_day %><i class="fa fa-euro"></i></p>
                </div>
                <div>
                       <% if booking.accepted == nil %>
                        <div class="pending-button-dash fixe-button-widht text-center"><p>Pending...</p></div>
                      <% elsif booking.accepted == true %>
                        <div class="accepted-button-dash fixe-button-widht text-center"><p>Accepted</p></div>
                      <% elsif booking.accepted == false %>
                        <div class="declined-button-dash fixe-button-widht text-center"><p>Declined</p></div>
                    <% end %>

                </div>
                <div>
                  <% if booking.start_at > Date.today %>
                    <%= link_to booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <div class="cancel-button-dash fixe-button-widht text-center"><p>Cancel</p></div>
                    <% end %>
                 <% elsif booking.ends_at < Date.today %>
                    <%= link_to cat_path(booking.cat) do %>
                      <div class="cancel-button-dash fixe-button-widht text-center"><p>Add review</p></div>
                    <% end %>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="right-card text-center">
          <div class="right-card-elem"->
            <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, :transformation=>[
            {:width=>900, :height=>900, :gravity=>"face", :radius=>"max", :crop=>"crop"},
            {:width=>150, :crop=>"scale"}
            ] %>
          <% end %>
          </div>
          <div class="right-card-elem">
            <h3>  <%= current_user.name %></h3>
          <div class="right-card-elem"->
            <%= link_to  user_path(current_user), class: "text-center" do %>
              <p>  My profile</p>
            <% end %>
          </div>
          <div class="right-card-elem"->
            <%= link_to new_cat_path class: "text-center" do %>
              <p> New cat </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% content_for(:after_js) do %>
<script>
  $(document).ready(function() {
    var cat_id = <%= @cat.id %>;
    console.log(cat_id);
    console.log("kksdbfkjsbkjfjk");
    $("#hidden-"+cat_id).toggleClass('hidden');
  });
</script>
<% end %>
