<div class="text-center">
  <h1>Edit your profile</h1>

  <div class="form-inputs">
    <%= simple_form_for (current_user) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, required: true%>
      <%= f.input :description, required: true%>
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :email, required: true, autofocus: true %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>

      <%= f.submit "Update profile", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to "Back", :back %>

