<div class="wrapper text-center">
  <h1>Meet <%=@user.name%></h1>

  <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, :transformation=>[
  {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>150, :crop=>"scale"}
  ] %>

  <% end %>

  <div class="align">
  <h3>Name :</h3>
  <p><%=@user.name%></p>
  </div>

  <div class="align">
  <h3>Email adress :</h3>
  <p><%=@user.email%></p>
  </div>

  <h3>Description :</h3>
  <p><%=@user.description%></p>

  <% if user_signed_in?%>
    <div>
      <%= link_to "Edit Profile", "#", class: "btn btn-primary" %>
      <%= link_to "Delete Profile", "#", class: "btn btn-alert" %>
    </div>
  <% end %>
</div>
