<div class="wrapper text-center container-with-footer">
  <h1 class="no-top-margin">Meet <%=current_user.name%></h1>

  <div class="big-avatar">
    <% if current_user.photo? %>
      <%= cl_image_tag current_user.photo.path, :transformation=>[
    {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"crop"},
    {:width=>150, :crop=>"scale"}
    ] %>

    <% end %>
  </div>
  <div class="align">
    <p><strong>Name :</strong></p>
    <p><%=current_user.name%></p>
  </div>
    <br>
  <div class="align">
    <p><strong>Email address :</strong></p>
    <p><%=current_user.email%></p>
  </div>
    <br>
  <p><strong>Description :</strong></p>
  <p><%=current_user.description%></p>

  <% if user_signed_in?%>
    <div class="btn-edit">
      <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary btn-space" %>
      <%= link_to "Delete Profile", user_path(current_user), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>

    </div>
  <% end %>
</div>
