<div class="wrapper text-center">
  <h1>Meet <%=current_user.name%></h1>

  <% if current_user.photo? %>
    <%= cl_image_tag current_user.photo.path, :transformation=>[
  {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"crop"},
  {:width=>150, :crop=>"scale"}
  ] %>

  <% end %>

  <div class="align">
  <h3>Name :</h3>
  <p><%=current_user.name%></p>
  </div>

  <div class="align">
  <h3>Email adress :</h3>
  <p><%=current_user.email%></p>
  </div>

  <h3>Description :</h3>
  <p><%=current_user.description%></p>

  <% if user_signed_in?%>
    <div>
      <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary" %>
      <%= link_to "Delete Profile", user_path(current_user), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>

    </div>
  <% end %>
</div>
