<div class="navbar-catbnb navbar-catbnb-fixed">
  <!-- Logo -->
  <div class="navbar-catbnb-left">
    <div class="navbar-catbnb-item">
      <%= link_to root_path, class: "navbar-catbnb-brand" do %>
        <%= image_tag "logo.png"%>
      <% end %>
    </div>
          <!-- Search form -->
    <div class="navbar-catbnb-item">
      <% unless  params[:controller] == "pages" && params[:action] == "home" %>
        <form action="/cats" method="get" class="navbar-catbnb-search">
          <input type="text" name="address" class="navbar-catbnb-search-input" placeholder="Search for a cat">
          <button type="submit" class="navbar-catbnb-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
      <% end %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-catbnb-right hidden-xs hidden-sm">
  <% if user_signed_in? %>
      <div class="tab-navbar">
        <%= link_to 'Dashboard', '/dashboard', class: "navbar-catbnb-item navbar-catbnb-link" %>
      </div>
  <!--     <div class="tab-navbar">
        <%= link_to 'Cats', '#', class: "navbar-catbnb-item navbar-catbnb-link"  %>
      </div> -->
      <div class="tab-navbar">
        <%= link_to 'Profile', user_path(current_user), class: "navbar-catbnb-item navbar-catbnb-link" %>
      </div>
      <div class="tab-navbar">
        <%= link_to 'Aide', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      </div>
      <div class="navbar-catbnb-item">
        <div class="dropdown">
          <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, transformation: [{width: 250, height: 250, gravity: 'face', radius: 'max', crop: 'crop'}], class: "avatar dropdown-toggle", id: "navbar-catbnb-menu", data: { toggle: "dropdown" }%>
            <ul class="dropdown-menu dropdown-menu-right navbar-catbnb-dropdown-menu">
              <li><%= link_to 'Log Out', 'users/sign_out', method: :delete %></li>
            </ul>
          <% else %>
            <%= image_tag "logo.png", transformation: [{width: 250, height: 250, gravity: 'face', radius: 'max', crop: 'crop'}], class: "avatar dropdown-toggle", id: "navbar-catbnb-menu", data: { toggle: "dropdown" }%>
            <ul class="dropdown-menu dropdown-menu-right navbar-catbnb-dropdown-menu">
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </div>
      </div>

    <% else %>

      <%= link_to 'Aide', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      <%= link_to 'Sign Up', '/users/sign_up', class: "navbar-catbnb-item navbar-catbnb-link"  %>
      <%= link_to 'Sign In', '/users/sign_in', class: "navbar-catbnb-item navbar-catbnb-link" %>

    <% end %>



    <!-- Profile picture and dropdown -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-catbnb-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-catbnb-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">My Cats</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

</div>
