<div class="navbar-catbnb navbar-catbnb-fixed">
  <!-- Logo -->
  <div class="navbar-catbnb-left">
    <div class="navbar-catbnb-item">
      <%= link_to root_path, class: "navbar-catbnb-brand" do %>
        <%= image_tag "logo.png"%>
      <% end %>
    </div>
          <!-- Search form -->
    <div class="navbar-catbnb-item">
      <% unless  params[:controller] == "pages" && params[:action] == "home" %>
        <form action="" class="navbar-catbnb-search">
          <input type="text" class="navbar-catbnb-search-input" placeholder="Search for a cat">
          <button type="submit" class="navbar-catbnb-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
      <% end %>
    </div>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-catbnb-right hidden-xs hidden-sm">
  <% if user_signed_in? %>

      <%= link_to 'Dashboard', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      <%= link_to 'Cats', '#', class: "navbar-catbnb-item navbar-catbnb-link"  %>
      <%= link_to 'Profile', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      <%= link_to 'Aide', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      <div class="navbar-catbnb-item">
        <div class="dropdown">
          <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-catbnb-menu" data-toggle="dropdown">
          <ul class="dropdown-menu dropdown-menu-right navbar-catbnb-dropdown-menu">
            <li><%= link_to 'Log Out', 'users/sign_out', method: :delete %></li>
          </ul>
        </div>
      </div>

    <% else %>

      <%= link_to 'Aide', '#', class: "navbar-catbnb-item navbar-catbnb-link" %>
      <%= link_to 'Sign Up', '/users/sign_up', class: "navbar-catbnb-item navbar-catbnb-link"  %>
      <%= link_to 'Sign In', '/users/sign_in', class: "navbar-catbnb-item navbar-catbnb-link" %>

    <% end %>



    <!-- Profile picture and dropdown -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-catbnb-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-catbnb-dropdown-menu">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">My Cats</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Aide</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

</div>
