<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(http://res.cloudinary.com/das218bbz/image/upload/v1489587060/catbnb-banner_qxendq.jpg);">
  <div class="banner-content">
    <h1>New buddies, right meow!</h1>
    <p>Discover and rent awesome cats all around the world.</p>
    <form class="form-inline" method="get" action="/cats">
      <input type="text" class="form-control input-lg" name="address" placeholder="Region / City / Address">
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Check out those charming felines!</h2>
    </div>
  </div>
  <div class="row">
  <% Cat.all.sample(6).each_with_index do |cat, i|%>
    <div class="col-xs-12 col-sm-4">
      <%if cat.photo%>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cat.photo.path, height: 300, width: 400, crop: :fill %>');">

      <%else%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://lorempixel.com/400/200/cats/<%=i%>);">
      <%end%>
        <div class="card-category"><%=cat.race%></div>
        <div class="card-description">
          <h2><%=cat.name%></h2>
          <p><%=cat.price_per_day%>€ per day!</p>
        </div>
        <% if cat.user.photo %>
          <%= cl_image_tag cat.user.photo.path, height: 75, width: 75, crop: :fill, class: "card-user avatar" %>
        <% else %>
          <%= cl_image_tag "http://lorempixel.com/200/200/people/", class: "card-user avatar" %>
        <% end %>
        <a class="card-link" href=<%=cat_path(cat)%> ></a>
      </div>
    </div>
    <%end%>
  </div>
</div>
