<div class="cat-index-container">

  <div class="row">

      <div class="col-xs-12 col-sm-7">
        <% @cats.each do |cat| %>
        <div class="col-xs-12 col-sm-6">
          <% if cat.photo %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cat.photo.path, height: 300, width: 400, crop: :fill %>');">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "default-cat-picture.jpeg" %>);">
          <% end %>
            <div class="card-category"><%=cat.race%></div>
            <div class="card-description">
              <h2><%=cat.name%></h2>
              <p><%=cat.price_per_day%>€ per day!</p>
            </div>
            <img class="card-user avatar" src="http://lorempixel.com/200/200/people/">
            <a class="card-link" href=<%=cat_path(cat)%> ></a>
          </div>

      </div>
      <%end%>

    </div>
    <div class="col-xs-12 col-sm-5">
      <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=15&size=200x300&sensor=false&maptype=roadmap&markers=color:red|34+rue+Lemercier", height: '100%', width: '100%' %>
    </div>
  </div>
</div>
