<div class="container-without-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div class="wider-container card-container">
        <div class="row">
          <% @cats.each do |cat| %>
            <div class="col-xs-12 col-sm-6">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cat_photo_path(cat.photo) %>');">
                <div class="card-category"><%=cat.race%></div>
                <div class="card-description">
                  <h2><%=cat.name%></h2>
                  <p><%=cat.price_per_day%>€ per day!</p>
                </div>
                <img class="card-user avatar" src="http://lorempixel.com/200/200/people/">
                <a class="card-link" href="<%=cat_path(cat)%>" ></a>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div id="map" class="wider-container map-container">
        <% content_for(:after_js) do %>
          <%= javascript_tag do %>
            $(document).ready(function() {
              var handler = Gmaps.build('Google');
              handler.buildMap({ internal: { id: 'map' } }, function() {
                markers = handler.addMarkers(<%= raw @hash.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                if (markers.length == 0) {
                  handler.getMap().setZoom(2);
                } else if (markers.length == 1) {
                  handler.getMap().setZoom(14);
                }
              });
            });
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
