<h3><%= @cat.name %></h3>
<h5><%= @cat.race %></h5>
<h5><%= @cat.age %></h5>
<h5><%= @cat.address %></h5>
<p><%= @cat.description %></p>
<small><%= @user.email %></small>


<small><%= link_to "Back to index", cats_path %></small>
<small><%= link_to "Delete", cat_path(@cat),
method: :delete %></small>
